# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app
x64/Debug/windowsAPI.tlog/windowsAPI.lastbuildstate
x64/Debug/windowsAPI.tlog/unsuccessfulbuild
x64/Debug/windowsAPI.tlog/rc.write.1.tlog
x64/Debug/windowsAPI.tlog/rc.read.1.tlog
x64/Debug/windowsAPI.tlog/rc.command.1.tlog
x64/Debug/windowsAPI.tlog/link.write.1.tlog
x64/Debug/windowsAPI.tlog/link.read.1.tlog
x64/Debug/windowsAPI.tlog/link.command.1.tlog
x64/Debug/windowsAPI.tlog/CL.write.1.tlog
x64/Debug/windowsAPI.tlog/CL.read.1.tlog
x64/Debug/windowsAPI.tlog/CL.command.1.tlog
x64/Debug/windowsAPI.pdb
x64/Debug/windowsAPI.log
x64/Debug/windowsAPI.ilk
x64/Debug/vc141.pdb
x64/Debug/vc141.idb
.vs/windowsAPI/v15/ipch/AutoPCH/89103fb23c4b1e49/ENEMY.ipch
.vs/windowsAPI/v15/ipch/AutoPCH/84653a2d824603fa/CAMERA.ipch
.vs/windowsAPI/v15/ipch/AutoPCH/60f0a83ebe4f58aa/MINION.ipch
.vs/windowsAPI/v15/ipch/AutoPCH/5e8bc7dfe35b9307/ENEMY.ipch
.vs/windowsAPI/v15/ipch/AutoPCH/1cf81d49d618f889/CAMERA.ipch
.vs/windowsAPI/v15/ipch/9b1a18f08408b31.ipch
.vs/windowsAPI/v15/Browse.VC.opendb
.vs/windowsAPI/v15/Browse.VC.db
.vs/windowsAPI/v15/.suo
.vs/windowsAPI/v15/Browse.VC.db
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
x64/Debug/windowsAPI.ilk
x64/Debug/windowsAPI.log
x64/Debug/windowsAPI.pdb
x64/Debug/windowsAPI.tlog/CL.command.1.tlog
x64/Debug/windowsAPI.tlog/CL.read.1.tlog
x64/Debug/windowsAPI.tlog/CL.write.1.tlog
x64/Debug/windowsAPI.tlog/link.command.1.tlog
x64/Debug/windowsAPI.tlog/link.read.1.tlog
x64/Debug/windowsAPI.tlog/link.write.1.tlog
x64/Debug/windowsAPI.tlog/rc.command.1.tlog
x64/Debug/windowsAPI.tlog/rc.read.1.tlog
x64/Debug/windowsAPI.tlog/rc.write.1.tlog
x64/Debug/windowsAPI.tlog/windowsAPI.lastbuildstate
*.db

x64/Debug/windowsAPI.tlog/
*.tlog
.vs/